# --- Python & System ---
.venv/
__pycache__/
.DS_Store

# --- Secrets (БЕЗПЕКА!) ---
.env
io_config.yaml       # <--- ТУТ ПАРОЛІ! НЕ ЗАБУДЬ!

# --- Data & Logs ---
postgres_data/       # База даних
mage_data/           # Логи Mage (сміття)
*.csv
*.csv.gz
*.parquet            # Mage часто зберігає в цьому форматі

# --- Cloud & Terraform (На майбутнє) ---
my-creds.json
*.json               # Обережно, але безпечно для ключів
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl