# Ігноруємо папку з даними бази (щоб не було помилок прав доступу)
ny_taxi_postgres_data

# Ігноруємо віртуальне оточення (в контейнері буде свій Python)
venv

# Ігноруємо Git історію
.git

# Ігноруємо кеш пітона
__pycache__

# Ігноруємо завантажені дані (образ має містити код, а не дані)
*.csv
*.csv.gz